# Quizz 1 - Python basics

## a) type

### Create a variable 'string' containing "toto" and a variable 'number' containing the number 10.

In [2]:
string = "toto"
number = 10

### Convert 'string' to unicode and 'number' in float

In [3]:
string = u'toto'
print(string)
number = float(number)
print(number)

toto
10.0

### Reverse the contents of the variables 'string' and 'number' (in 1 line).

In [4]:
print(string[::-1])
print(str(number)[::-1])

otot
0.01

## b) List

### Create a list `A`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [5]:
A = [1,3,2,7,4,10,46]
print(A)

[1, 3, 2, 7, 4, 10, 46]


### Display the first 3 items in list `A` - in one line of code

In [6]:
print(A[0:3])

[1, 3, 2]

### Create a list `B` that contains only the 3rd, 4th and 5th elements of `A` . Your line of code should only contain 8 characters (not including spaces) - Check your result carefully!

In [7]:
B = A[2:5]
print(B)

[2, 7, 4]

### Concatenate lists `A` and `B` to form list `C`.

In [8]:
C = A + B
print(C)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `A` and `B` in the variable `D`

In [9]:
D = zip(A,B)
print(tuple(D))

((1, 2), (3, 7), (2, 4))

### Add the number 5 to list `A`

In [10]:
A.append(5)
print(A)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to the `C` list

In [11]:
C.append(None)
print(C)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Write a function that takes as arguments a list 'lst' and an integer 'n' and returns the result of n concatenations of 'lst' with itself (e.g. lst=[1,2,3], n=2 --> [1,2,3,1,2,3]).

In [12]:
def function(lst, n):
    return list(lst)*n

function(A,2)

[1, 3, 2, 7, 4, 10, 46, 5, 1, 3, 2, 7, 4, 10, 46, 5]

### You want to make parameter 'n' optional and set its value to 2 by default. How do you do it?

In [13]:
def function(lst, n=2):
    return list(lst)*n

function(A)

[1, 3, 2, 7, 4, 10, 46, 5, 1, 3, 2, 7, 4, 10, 46, 5]

###  With a 'while' loop, print each element of the `C` list up to the `null` element.

In [14]:
i = 0
while i < len(C):
    print(C[i])
    i += 1

1
3
2
7
4
10
46
2
7
4
None

### Calculate, with a 'for' loop, the number of even integers present in the list A

In [15]:
for elem in A:
    if elem % 2 == 0:
        print(elem)

2
4
10
46

### Rewrite the following expression with a multi-line 'for' loop

In [16]:
C = [element for element in A if element %2 == 0]

In [17]:
for element in A:
    if element %2 ==0:
        C.append(element)
print(C)

[2, 4, 10, 46, 2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [18]:
def first_str (str):
    return str[0]

first_str("Becode")

'B'

## c) Dictionaries

### Create a car dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [19]:
car = {'brand' : 'Ford', 'model' : 'Mustang', 'year' : 1964}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Access to the "year" value

In [20]:
print(car['year'])

1964

###  Use a loop to display all the dictionary keys

In [21]:
if 0 < len(car):
    print(car.keys())

dict_keys(['brand', 'model', 'year'])

###  Use a loop to display all the dictionary value

In [22]:
if 0 < len(car):
    print(car.values())

dict_values(['Ford', 'Mustang', 1964])

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (enumerate function).

In [23]:
for id, (keys, values) in enumerate(car.items()):
    print(id, keys, values)

0 brand Ford
1 model Mustang
2 year 1964

### With the help of a comprehension dictionary create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### exemple de dictionnaire comprehension :
```
dict = {key:value for key, value in list_1, list_2}
```

In [24]:
#TODO

## d) Functions

### Create a fibonacci function (fibonacci sequence: 0 1 1 2 3 5 8 13 ...)
Ex : ``fibonacci(13) return [0,1,1,2,3,5,8,13]``

In [9]:
def Fibonacci(n):
    if n > 1:
        return Fibonacci(n-1) + Fibonacci(n-2)
    return n
for i in range(5):
    print(Fibonacci(i))

0
1
1
2
3

### Execute your function (fibonacci(100) must be executed in less than 1 second)

### Create a fibonacci function using a generator
Ex : ``generate_fibonacci(10) ``

## [New Horizons](../../2.Advanced/01.OOP/01.Python_OOP_intro.ipynb)